.service-item {

    // visual
    background: white;
    border-radius: 0.5rem;
    border-color: #cecece;
    border-style: solid;
    border-width: 1px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    box-shadow: none;


    .service-title {
        h3 {
            margin: 0;
        }
    }

    .service-img {
        height: 20%;
        width: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        img {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            object-fit: cover;
            width: 100%;
            height: 164px;
        }
    }

    .service-content {
        padding: 0.95rem;



        p {
            margin: 0;
            padding: 0.4rem 0;
            letter-spacing: 0.004em;
            font-size: 0.85rem;
        }


        .upload-date {
            font-size: 0.85rem;
            color: #545454;
        }
    }
}

@media screen and (min-width: 486px) {
    .service-item {
        flex-basis: 30%;
        max-width: 450px;
        max-height: 380px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .service-item {
        flex-basis: 40%;
        max-width: 300px;
        max-height: 580px;
    }

}

@media screen and (min-width: 1201px) {
    .service-item {
        flex-basis: 32%;
    }
}